# Przykład 4
W poniższym przykładzie wyodrębnimy wszystkie kolumny zaczynające się od <tt>Vel</tt>:

In [5]:
import numpy as np
import pandas as pd
data = np.round(np.random.randn(100,7), 3)
# round zaokrągla tablicę do podanej liczby miejsc po przecinku (tutaj 3)

In [6]:
df = pd.DataFrame(data, columns=['Time','PosX', 'PosY', 'PosZ', 'VelX', 'VelY', 'VelZ'])

In [7]:
df.head()

    Time   PosX   PosY   PosZ   VelX   VelY   VelZ
0  0.058 -0.490 -0.011 -0.349 -0.321 -0.742  0.019
1 -2.052  1.257  1.007  0.481 -0.382  0.121  0.388
2  2.137 -1.466 -1.353 -1.406 -0.085  0.492 -0.068
3 -1.458 -1.279  0.458  1.654  0.158 -0.192 -0.108
4  0.295 -0.896 -0.122 -0.094 -0.029  0.796 -3.059

In [8]:
vel = df.filter(regex='Vel*')

In [9]:
vel.head()

    VelX   VelY   VelZ
0 -0.321 -0.742  0.019
1 -0.382  0.121  0.388
2 -0.085  0.492 -0.068
3  0.158 -0.192 -0.108
4 -0.029  0.796 -3.059