In [3]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# Zadanie 
Wykonaj test chi kwadrat w celu sprawdzenia czy dane demograficzne w USA mają ten sam rozkład, co dane w Minesocie.
Użyj danych wygenerowanych poniżej:

In [7]:
national = pd.DataFrame(["white"]*100000 + ["hispanic"]*60000 +\
                        ["black"]*50000 + ["asian"]*15000 + ["other"]*35000)
           

minnesota = pd.DataFrame(["white"]*600 + ["hispanic"]*300 + \
                         ["black"]*250 +["asian"]*75 + ["other"]*150)
national_table = pd.crosstab(index=national[0], columns="count")
minnesota_table = pd.crosstab(index=minnesota[0], columns="count")
print( "National")
print(national_table)
print("================")
print( "Minnesota")
print(minnesota_table)
minnesota.head()

National
col_0      count
0
asian      15000
black      50000
hispanic   60000
other      35000
white     100000
================
Minnesota
col_0     count
0
asian        75
black       250
hispanic    300
other       150
white       600

       0
0  white
1  white
2  white
3  white
4  white

## Najpierw musimy wyliczyć przewidywany rozkład

In [8]:
# trzeba znormalizować próbkę
observed = minnesota_table
print(observed)
national_ratios = national_table/len(national)
# kalibrowanie czyli wyrównujemy skalę 75 w minesocie odpowiada 79 w national
expected = national_ratios * len(minnesota)
print(expected)

col_0     count
0
asian        75
black       250
hispanic    300
other       150
white       600
col_0          count
0
asian      79.326923
black     264.423077
hispanic  317.307692
other     185.096154
white     528.846154

## Wykonujemy test chi kwadrat

In [10]:
stats.chisquare(f_obs=observed, f_exp=expected)

Power_divergenceResult(statistic=array([18.19480519]), pvalue=array([0.00113047]))

Power_divergenceResult(statistic=array([ 18.19480519]), pvalue=array([ 0.00113047]))