In [1]:
import pandas as pd
from sklearn.decomposition import TruncatedSVD, NMF
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import normalize, Normalizer, MaxAbsScaler
from sklearn.svm import SVC
from scipy.sparse import csr_matrix
from sklearn.feature_extraction.text import TfidfVectorizer


# zamiana tekstu na wektory, dla tfidf konieczne parametry
# tfidf = TfidfVectorizer()
# doc_results = tfidf.fit_transform(documents)

/home/kodolamacz/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/home/kodolamacz/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/home/kodolamacz/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [4]:
df = pd.read_csv("wikipedia-vectors.csv", index_col=0)
articles = csr_matrix(df.transpose())
articles.shape

(60, 13125)

In [19]:
svd = TruncatedSVD(n_components=50, random_state=42)
kmeans = KMeans(n_clusters=6, random_state=42)
pipeline = make_pipeline(svd, kmeans)

In [20]:
pipeline.fit(articles)

Pipeline(memory=None,
     steps=[('truncatedsvd', TruncatedSVD(algorithm='randomized', n_components=50, n_iter=5,
       random_state=42, tol=0.0)), ('kmeans', KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=6, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=42, tol=0.0001, verbose=0))])

In [21]:
labels = pipeline.predict(articles)
labels
# numerki oznaczają jakieś grupy słów, nie wiemy jakie

array([4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5,
       5, 5, 5, 3, 5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int32)

In [22]:
titles = list(df.columns)
titles[0:10]

['HTTP 404',
 'Alexa Internet',
 'Internet Explorer',
 'HTTP cookie',
 'Google Search',
 'Tumblr',
 'Hypertext Transfer Protocol',
 'Social search',
 'Firefox',
 'LinkedIn']

In [23]:
df_labels = pd.DataFrame({"label" : labels, "article" : titles})
df_labels.head()

   label            article
0      4           HTTP 404
1      4     Alexa Internet
2      4  Internet Explorer
3      4        HTTP cookie
4      4      Google Search

In [24]:
df_labels.sort_values("label")
# podzielilismy artykuły wg tutułów na 6 grup, tyle ile klastrów

    label                                        article
29      0                               Jennifer Aniston
22      0                              Denzel Washington
23      0                           Catherine Zeta-Jones
24      0                                   Jessica Biel
25      0                                  Russell Crowe
26      0                                     Mila Kunis
27      0                                 Dakota Fanning
28      0                                  Anne Hathaway
21      0                             Michael Fassbender
20      0                                 Angelina Jolie
51      1                                     Nate Ruess
52      1                                     The Wanted
53      1                                   Stevie Nicks
54      1                                 Arctic Monkeys
55      1                                  Black Sabbath
56      1                                       Skrillex
57      1                          Red Hot Chili Peppers
50      1                                   Chad Kroeger
58      1                                         Sepsis
59      1                                    Adam Levine
39      2                                  Franck Ribéry
38      2                                         Neymar
37      2                                       Football
36      2              2014 FIFA World Cup qualification
35      2                Colombia national football team
34      2                             Zlatan Ibrahimović
33      2                                 Radamel Falcao
32      2                                   Arsenal F.C.
30      2                  France national football team
31      2                              Cristiano Ronaldo
47      3                                          Fever
19      3  2007 United Nations Climate Change Conference
18      3  2010 United Nations Climate Change Conference
10      3                                 Global warming
11      3       Nationally Appropriate Mitigation Action
12      3                                   Nigel Lawson
13      3                               Connie Hedegaard
14      3                                 Climate change
15      3                                 Kyoto Protocol
16      3                                        350.org
17      3  Greenhouse gas emissions by the United States
1       4                                 Alexa Internet
2       4                              Internet Explorer
3       4                                    HTTP cookie
4       4                                  Google Search
5       4                                         Tumblr
6       4                    Hypertext Transfer Protocol
7       4                                  Social search
8       4                                        Firefox
0       4                                       HTTP 404
9       4                                       LinkedIn
48      5                                     Gabapentin
45      5                                    Hepatitis C
44      5                                           Gout
43      5                                       Leukemia
42      5                                    Doxycycline
41      5                                    Hepatitis B
40      5                                    Tonsillitis
49      5                                       Lymphoma
46      5                                     Prednisone

In [26]:
# instancjonujemy NMF
model = NMF(n_components=6, random_state=42)

In [27]:
model.fit(articles)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
  n_components=6, random_state=42, shuffle=False, solver='cd', tol=0.0001,
  verbose=0)

In [28]:
nmf_features = model.transform(articles)

In [29]:
df_nmf = pd.DataFrame(nmf_features, index=titles)

In [30]:
# nastepnie normalizujemy features
norm_features = normalize(nmf_features)

In [31]:
df_nmf_norm = pd.DataFrame(norm_features, index=titles)

In [37]:
article = df_nmf_norm.loc["Chad Kroeger"]
similitarities = df_nmf_norm.dot(article)

In [38]:
similitarities

HTTP 404                                         0.000000
Alexa Internet                                   0.000000
Internet Explorer                                0.009583
HTTP cookie                                      0.000000
Google Search                                    0.000000
Tumblr                                           0.038385
Hypertext Transfer Protocol                      0.000000
Social search                                    0.000000
Firefox                                          0.031969
LinkedIn                                         0.032093
Global warming                                   0.000000
Nationally Appropriate Mitigation Action         0.000000
Nigel Lawson                                     0.037628
Connie Hedegaard                                 0.011483
Climate change                                   0.010621
Kyoto Protocol                                   0.000000
350.org                                          0.014923
Greenhouse gas emissions by the United States    0.000000
2010 United Nations Climate Change Conference    0.000000
2007 United Nations Climate Change Conference    0.000000
Angelina Jolie                                   0.000000
Michael Fassbender                               0.000000
Denzel Washington                                0.000000
Catherine Zeta-Jones                             0.000000
Jessica Biel                                     0.000000
Russell Crowe                                    0.245307
Mila Kunis                                       0.000000
Dakota Fanning                                   0.028014
Anne Hathaway                                    0.006680
Jennifer Aniston                                 0.004264
France national football team                    0.000000
Cristiano Ronaldo                                0.002522
Arsenal F.C.                                     0.020269
Radamel Falcao                                   0.000000
Zlatan Ibrahimović                               0.000000
Colombia national football team                  0.000000
2014 FIFA World Cup qualification                0.019329
Football                                         0.029512
Neymar                                           0.017064
Franck Ribéry                                    0.000000
Tonsillitis                                      0.000000
Hepatitis B                                      0.000000
Doxycycline                                      0.000000
Leukemia                                         0.000000
Gout                                             0.004193
Hepatitis C                                      0.000000
Prednisone                                       0.000000
Fever                                            0.000000
Gabapentin                                       0.034258
Lymphoma                                         0.000000
Chad Kroeger                                     1.000000
Nate Ruess                                       1.000000
The Wanted                                       0.995148
Stevie Nicks                                     0.994999
Arctic Monkeys                                   1.000000
Black Sabbath                                    1.000000
Skrillex                                         0.979627
Red Hot Chili Peppers                            0.999924
Sepsis                                           0.840031
Adam Levine                                      0.966484
dtype: float64

In [39]:
similitarities.nlargest()

Chad Kroeger             1.000000
Nate Ruess               1.000000
Arctic Monkeys           1.000000
Black Sabbath            1.000000
Red Hot Chili Peppers    0.999924
dtype: float64

In [42]:
article = df_nmf_norm.loc["Tumblr"]
similitarities = df_nmf_norm.dot(article)
similitarities.nlargest()

Tumblr               1.000000
Firefox              0.997054
Internet Explorer    0.993529
HTTP 404             0.993207
Alexa Internet       0.993207
dtype: float64

In [50]:
def similirities_finder():
    while True:    
        text = input("Podaj tytuł, a znajdę podobne: ")
        try:
            article = df_nmf_norm.loc[text]
            similitarities = df_nmf_norm.dot(article)
            print(similitarities.nlargest() )
        except:
            print("Nie znalezniono, spróbuj później")

        next = input("Czy chcesz następne? T/N ")
        if next == 'N':
            break

In [51]:
similirities_finder()

Podaj tytuł, a znajdę podobne: Angelina Jolie
Angelina Jolie       1.000000
Jennifer Aniston     0.995046
Mila Kunis           0.992622
Denzel Washington    0.992572
Dakota Fanning       0.992571
dtype: float64
Czy chcesz następne? T/N T
Podaj tytuł, a znajdę podobne: Jennifer Aniston
Jennifer Aniston        1.000000
Mila Kunis              0.999603
Anne Hathaway           0.999334
Michael Fassbender      0.999327
Catherine Zeta-Jones    0.999327
dtype: float64
Czy chcesz następne? T/N T
Podaj tytuł, a znajdę podobne: Ala ma kota
Nie znalezniono, spróbuj później
Czy chcesz następne? T/N N